<h1 align="center">All kittens</h1>
<ul>
    <% @kittens.each do |k| %>
      <li>
        <p> Name: <%= k.name %></p>
        <p> Age: <%= k.age %></p>
        <p>Level of cuteness: <%= k.cuteness %></p>
        <p>Level of softness: <%= k.softness %></p>
      </li>
    <% end %>
</ul>